.hero ::selection{
    background-color: var(--turquoise);
    color: white;
}
.hero{
    min-height: 100vh;
    color: var(--white);

    display: flex;
    align-items: center;
    background-image: url(../assets/heroBg.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center right;
    padding-top: 38px;
}.hero::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--purple);
    opacity: 0.3;
}
.heroContent{
    display: flex;
    flex-direction: column;
    width: max(40vw , 800px);
    z-index: 2;
    margin-left: 5vw;
}.headline{
    font-weight: 700;
    font-size: min(4vw, 4.5rem);
    text-shadow: 3px 3px 10px black
}.turquoiseText{
    font-weight: 900;
    display: block;
    color: var(--turquoise);
}.boldText{
    font-weight: 900;
}.heroP{
    font-size: min(3vw,2rem);
    font-weight: 700;
    margin: min(1vw,1rem) 0 min(1.5vw,1.5rem) 0;
    text-shadow: 1px 1px 10px black;
}
.heroBtn{
    font-size: min(3vw , 2rem);
    font-weight: 700;
    letter-spacing: max(0.15vw,3px);
    text-transform: uppercase;
    text-decoration: none;

    padding: max(0.5vw,10px) max(1vw,20px);
    position: relative;
    align-self: start;
    display: block;

    color: var(--turquoise);
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid var(--turquoise);
    border-radius: 5px;
}
.heroBtn::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--turquoise);
    z-index: -1;
    transform: scaleX(0);
    transform-origin: 0;
    transition: transform 300ms ease-in-out
}
.heroBtn:focus-visible{
    color: var(--white);
    transition: color 150ms ease-in-out;
}
.heroBtn:focus-visible::after{
    transform: scale(1);
}
.heroBtn:focus-visible{
    outline: 2px solid var(--turquoise);
    outline-offset: 2px;
}
@media (max-width: 1000px) {
    .hero{
        justify-content: center;
        text-align: center;
    }
    .hero a{
        align-self: center;
    }.heroContent{
        margin-left: 0;
        width: max(90vw , 250px);
        margin: 0;
    }.headline{
        font-size: min(3.75rem,10vw);
    }.heroP{
        font-size: min(2.25rem,6vw);
    }
    .heroBtn{
        font-size: min(2.2rem,6vw);
        padding: max(0.5vw,10px) max(1vw,20px);
    }
}
@media (hover : hover) {
    .heroContent .heroBtn:hover{
        color: var(--white);
        transition: color 150ms ease-in-out;
    }
    .heroContent .heroBtn:hover::after{
        transform: scale(1);
    }
}
